body {
    font: 100% Verdana, Arial, Helvetica, sans-serif;
    background: #C0E2CA;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #000000;
}
#container {
    width: 1000px;
    background: none;
    margin: 0 auto;
    text-align: left;
}
#header {
    padding: 0 10px 0 20px;
    text-align: center;
}
#header img {
    margin: 0;
    padding: 10px 0;
}
#main_menu {
    float: right;
    width: 174px;
    font-size: 0.8em;
    line-height: 2.0em;
}
#main_menu  ul {
    margin: 0;
}
#content {
    float: left;
    width: 768px;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
#status_block {
    margin: 0 auto 0.5em auto;
    padding: 15px 10px 15px 55px;
    background: #cec url(../images/ok.png) left center no-repeat;
    border: 1px solid #9c9;
    width: 600px;
    font-size: 120%;
    font-weight: bolder;
}
.box {
    background: #FFFFFF;
    padding: 20px;
    margin: 8px auto;
}
.left_column {
	float: left;
    width: 368px;
	margin-right: 10px;
}
.left_column > p:first-child {
	margin-top: 0;
}
.right_column {
    float: right;
    width: 300px;
    overflow: auto;
}
a.rounded, .button {
    outline: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    vertical-align: middle;
    display: -moz-inline-box;
    display: inline-block;
    overflow: visible;
}
.button {
    color: #000;
    background-color: #acc;
    padding: 5px 7px;
}
.button:hover {
    background-color: #cee;
}
.justified {
    text-align: justify;
}

