/* CSS Document for KID template principal.kid */

body {
    /*background: #000000;*/
}

#place_description {
    position: absolute;
    top: 94px;
    left: 141px;
    width: 228px;
    height: 250px;
    font: small "Courier New", Courier, monospace;
    padding: 2px 0 0 3px;
}

#place_description h2 {
    font: bold medium Verdana, Arial, Helvetica, sans-serif;
}

.notice {
  margin: 0.5em auto 0.5em auto;
  padding: 15px 10px 15px 55px;
  /*width: 450px;*/
  background: #eef URL('../images/info.png') left center no-repeat;
  border: 1px solid #cce;
}

#place_img {
    position: absolute;
    top: 94px;
    left: 424px;
    width: 218px;
    height: 250px;
}

#command_prompt {
    position: absolute;
    top: 350px;
    left: 151px;
    width: 218px;
    height: 68px;
    overflow: auto;
}

#all_actions {
    color: #999999;
    padding-top: 3px;
    font: x-small Verdana, Arial, Helvetica, sans-serif;
}

#book {
    background: url('../images/book.jpg');
    padding: 20px 2% 20px 2%;
    margin: 10px 150px 10px 10px;
    /*border: 3px solid #eee;*/
    width: 750px;
    height: 400px;
}
#fabletext {
    float: left;
            /* top right bottom left */
    padding: 50px 10px 10px 10px ;
    margin: 50px 0px 10px 50px ;
    border: 0px solid #eee;
    width: 300px;
    height: 200px;
}
#fableview {
    float: left;
    padding: 50px 10px 10px 10px ;
    margin: 50px 0px 10px 20px ;
    border: 0px solid #eee;
    width: 250px;
    height: 200px;
}
#fableaction {
    float: left;
    background: transparent;
    padding: 30px 10px 10px 90px ;
    margin: 10px 60px 10px 50px ;
    border: 0px solid #eee;
    height: 20px;
}
